@import "tailwindcss";

:root {
  --back: #f4f4f4;
  --fore: #fcfdfc;
  --border: #dfe0e2;
  --text: #0b0a0a;
  --mark: #5c76b4;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* color: var(--text); */
  outline: none;
}

::-webkit-scrollbar{
  width: 0px;
} 
