@import "tailwindcss";

:root {
  --back: #f4f4f4;
  --fore: #fcfdfc;
  --border: #dfe0e2;
  --text: #0b0a0a;
  --mark: #5c76b4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html { 
  font-size: clamp(15px, 1.5vw, 42px);
  line-height: 1.5;
}

body { 
  min-height: 100dvh;
}

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

::-webkit-scrollbar{
  width: 0px;
} 

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

:focus-visible {
  outline: 2px solid var(--mark);
  outline-offset: 2px;
}

